@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
<div>
    <h1>Cliente</h1>
    <div>
        <a class="btn btn-outline-success" asp-area="" asp-controller="Cliente" asp-action="Cadastro">Novo</a>
    </div>
</div>
<br />
<table id="TabelaCliente" class="display">
    
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>RG</td>
            <td>Action</td>
        </tr>
    
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script>
    var url = window.location.origin;

    var tabela = $('#TabelaCliente').DataTable({
        "ajax": {
            "url": "Cliente/SelecionarTodos",
            "type": "POST",
            "dataSrc": "data"
        },
        "columns": [

            { "data": "id" },
            { "data": "nome" },
            { "data": "cpf" },
            { "data": "rg" },
            {
                "data": "id",
                "render": function (data) {
                    return "<a href='/Cliente/Cadastro/" + data + "' class='btn btn-outline-warning'>Editar</a>"
                }
            },
                {
                "data": "id",
                    "render": function Excluir(data) {
                        return "<button class=\"btn btn-outline-danger\" onclick=\"Excluir(" + data + ")\">Excluir</button>"
                }       
            } 
        ]       
    });

    function Excluir(data) {
        $.ajax({
            url: url + "/Cliente/ExcluirCliente/",
            async: false,
            type: 'POST',
            data: {
                id: parseFloat(data)
            },

            success: function (data) {
                console.log(data)
                if (data.success) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: 'Cliente Adicionado com sucesso!'
                    })

                    tabela.ajax.reload();
                }
            },
        });
    }
</script>